.login-form {
    height: 100vh;
  }
  
  .login-bg{
    background-image:url("../Images/bg-.jpg");
    background-repeat:no-repeat;
    background-size:cover;
  }
  
  .card {
    width: 400px; /* Increase the width of the card */
    background-color: rgba(255, 255, 255, .15);  
   backdrop-filter: blur(5px);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-check-label {
    margin-left: 5px;
  }
  
  .d-grid {
    margin-top: 20px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-center a {
    color: #007bff;
    text-decoration: none;
  }
  
  .text-center a:hover {
    text-decoration: underline;
  }
  
  /* Added CSS for password input field */
  .input-group {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input-group .btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .forget-password {
    border: none;
    background-color: transparent;
    transition: text-decoration 0.6s ease;
  }
  
  .forget-password:hover {
    text-decoration: underline;
  }
  
  .my-btn{
    width: 40%;
  }
  
  #password{
    border-radius: 6px;
  }
  
  .errmsg{
    color: red;
  }